
# Directory Ignores ##########################################################
guide/book
target
vendor
.idea
**/node-logs
**/tests

# File Ignores ###############################################################
**/*.rs.bk
Cargo.lock
.DS_Store
.vscode
test-logs.txt
jmeter-config.jmx

**/jmeter.log
